<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p1>This site is developed by {{name}}<br></p1>
    <img src="img/myPhoto.jpeg">
    {{>footer}}
</body>

</html>