<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        {{>header}}
        <p1>{{message}}</p1>
        {{>footer}}
    </body>

</html>