h1 {
    color:black;
}
img{
    width:255px;
}

input {
    border: 1px solid gray;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}

html{
    padding: 32px;
    
}